<head>
  {{- printf `<meta content="form-action 'self'; font-src 'self' https://*.googleapis.com https://fonts.gstatic.com; style-src 'self' https://*.googleapis.com; script-src 'self' 'nonce-%s' %s https://www.google-analytics.com https://www.google.com https://www.gstatic.com; connect-src 'self'; img-src 'self' blob: data: ;" http-equiv="Content-Security-Policy">` .nonce .webpack | safeHTML -}}
  {{- partial "metas" .context -}}
  <link rel="prefretch" as="font" href="https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
  {{ $stylesheet := .context.Site.Data.webpack.main }}{{ with $stylesheet.css -}}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end -}}
</head>
